<div class="form" id="signup-form">
    <button class="close">
        <i class="material-icons danger-icon">close</i>
    </button>

    <h2 class="headline">Create a new account</h2>

    <div class="photo-picker">
        <img id="photo-preview"/>
        <input type="file" name="userPhoto" id="user-photo"/>
        <label for="user-photo"></label>
    </div>

    @Components.InputField("signup-name", "Name", "text", "text")
    @Components.InputField("signup-email", "Email", "text", "email")
    @Components.InputField("signup-phone", "Phone Number", "text", "phone")
    @Components.InputField("signup-password", "Password", "password", "password")
    @Components.InputField("signup-repassword", "Repeat your password", "password", "repassword")
    @Components.DropdownField("signup-userrole", "Role", "Choose your role...", "Admin", "Customer", "Project Manager", "Team Leader", "Jenior Engineer")
    @Components.TextArea("signup-bio", "Write about yourself")

    <button class="btn-primary" id="btn-signup">Create account</button>
</div>