<!-- 
    Home page projects
-->
@helper Unassigned(string userPhoto, string customerName, int userType, string postingTime, string projectName,
                   string projectDescription, int projectId, int ownerId, int userId, IEnumerable<Project_Apollo.Models.Comments> comments)
{
    <div class="project-cotnainer" id="@projectId" ownderId="@ownerId">
        <div class="project">
            <div class="owner-container">
                <div class="owner-info">
                    <img src="@userPhoto" width="40" />

                    <div>
                        <a class="name">@customerName</a>
                        <label class="time">@postingTime</label>
                    </div>
                </div>

                <div class="project-controls">
                    @{
                        if (userType == 2) {
                            <button class="apply-btn">Apply</button>
                        } else if ((userType == 0 || userType == 1) && @userId == @ownerId) {
                            <button class="edit-btn"></button>
                            <button class="delete-btn"></button>
                        }
                    }

                </div>
            </div>


            <div class="details">
                <h4 class="name">@projectName</h4>
                <p class="description">@projectDescription</p>
            </div>
        </div>

        @if (comments.Count() != 0) {
            <div class="comments-container">
                @{  if (userType == 2) {
                        <div class="comment-input">
                            <img src="@userPhoto" width="35" />
                            <input placeholder="Write a comment..." />
                        </div>}
                }

                @foreach (var comment in comments) {
                    @Projects.Comment(comment.projectManager.ID, Project_Apollo.Models.ImageConverter.convertPhotoToString(comment.projectManager.Photo),
                   comment.projectManager.name,
                   comment.comment)
                }
            </div>  }
    </div>
}

<!--
    Profile page projects
-->
@helper Assigned(string userPhoto, string customerName, string postingTime, string projectName,
                   string projectDescription, int projectId,int Status ,String stratDate,String endDate ,string managerPhoto, string leaderPhoto , List<Project_Apollo.Models.User> memberPhotos) {
    <div class="project-cotnainer" id="@projectId">
        <div class="project">
            <div class="owner-container">
                <div class="owner-info">
                    <img src="@userPhoto" width="40" />

                    <div>
                        <a class="name">@customerName</a>
                        <label class="time">@postingTime</label>
                    </div>
                </div>
            </div>


            <div class="details">
                <h4 class="name">@projectName</h4>
                <p class="description">@projectDescription</p>

                <div class="about">
                    <div class="row">
                        <label>Project Status:</label>
                        <span>@Status</span>
                    </div>

                    <div class="row">
                        <label>Start Date:</label>
                        <span>@stratDate</span>
                    </div>

                    <div class="row">
                        <label>End Date:</label>
                        <span>@endDate</span>
                    </div>
                </div>

                <div class="people">
                    <div class="row">
                        <label>Project Manager:</label>
                        <img src="@managerPhoto" width="30"/>
                    </div>

                    <div class="row">
                        <label>Team Members:&nbsp</label>
                        <img src="@leaderPhoto" width="30"/>

                        <div class="members">
                            @{ foreach(Project_Apollo.Models.User photo in memberPhotos) { 
                                <img src="@Project_Apollo.Models.ImageConverter.convertPhotoToString(photo.Photo)" width="30" />}
                            }
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- 
    Project comment
-->
@helper Comment(int id, string userPhoto, string userName, string comment) {
    <div class="comment">
        <img src="@userPhoto" width="35" />

        <div class="details">
            <label class="name">@userName</label>
            <label class="comment-text">@comment</label>
        </div>

    </div>
}