<!-- 
    Home page projects
-->
@helper Unassigned(string userPhoto, string customerName, int userType, string postingTime, string projectName,
                   string projectDescription, int projectId, int ownerId, int userId, IEnumerable<Project_Apollo.Models.ApplyProject> appliedManagers, 
                   IEnumerable<Project_Apollo.Models.Comments> comments) {
        var appliedStatus = false;

        foreach (var appliedManager in appliedManagers) {
            if (appliedManager.projectManager.ID == userId) {
                appliedStatus = true;
            }
        }

    <div class="project-cotnainer" id="@projectId" ownderId="@ownerId">
        <div class="project">
            <div class="owner-container">
                @Projects.OwnerInfo(userPhoto, customerName, postingTime)

                <div class="project-controls">
                    @{
                        if (userType == 2) {
                            <button class="apply-to-project-btn" disabled="@appliedStatus">@(appliedStatus == true ? "Applied" : "Apply")</button>
                        } else if ((userType == 1 && @userId == @ownerId) || userType == 0) {
                            <button class="icon-btn icon-btn--edit edit-project-btn"></button>
                            <button class="icon-btn icon-btn--delete delete-project-btn"></button>
                        }
                    }

                </div>
            </div>

            @Projects.ProjectDetails(projectName, projectDescription)
        </div>

        @if (comments.Count() != 0 || userType == 2) {
        <div class="comments-container">
            @if (userType == 2) {
                <div class="comment-input">
                    <img src=@Session["userPhoto"] width="35" />
                    <input placeholder="Write a comment..." class="comment-field"/>
                </div>
            }

                @foreach (var comment in comments) {
                    @Projects.Comment(comment.projectManager.ID, Project_Apollo.Models.ImageConverter.convertPhotoToString(comment.projectManager.Photo),
                        comment.projectManager.name,
                        comment.comment)
                }
            </div>  
        }
    </div>
}

<!--
    Profile page projects
-->
@helper Assigned(string userPhoto, string customerName, string postingTime, string projectName,
                   string projectDescription, int projectId, int Status , string stratDate, string endDate ,string managerPhoto, string leaderPhoto , List<Project_Apollo.Models.User> memberPhotos) {
    <div class="project-cotnainer" id="@projectId">
        <div class="project">
            <div class="owner-container">
                @Projects.OwnerInfo(userPhoto, customerName, postingTime)

                @if ((int)Session["userRole"] > 1) {
                    <div class="project-controls">
                        <button class="leave-project-btn">Leave</button>
                    </div>
                }
            </div>


            <div class="details">
                <h4 class="name">@projectName</h4>
                <p class="description">@projectDescription</p>

                <div class="about">
                    <div class="row">
                        <label>Project Status:</label>
                        <span>@Enum.GetName(typeof(Project_Apollo.Models.status), Status)</span>
                    </div>

                    <div class="row">
                        <label>Start Date:</label>
                        <span>@stratDate</span>
                    </div>

                    <div class="row">
                        <label>End Date:</label>
                        <span>@endDate</span>
                    </div>
                </div>

                <div class="people">
                    <div class="row">
                        <label>Project Manager:</label>
                        <div>
                            <img src="@managerPhoto" width="30" />
                        </div>
                    </div>

                    <div class="row">
                        <label>Team Members:&nbsp</label>
                        <div class="@((int)Session["userRole"] == 2 ? "removable" : "")" project-id="@projectId">
                            <img src="@leaderPhoto" class="@((int)Session["userRole"] == 2 ? "remove-leader" : "")" width="30" />
                        </div>
                        

                        <div class="members">
                            @foreach(Project_Apollo.Models.User photo in memberPhotos) { 
                                <div class="@(((int)Session["userRole"] == 2|(int)Session["userRole"] == 3) ? "removable" : "")" user-id="@photo.ID" project-id="@projectId">
                                    <img src="@Project_Apollo.Models.ImageConverter.convertPhotoToString(photo.Photo)" class="@(((int)Session["userRole"] == 3 |(int)Session["userRole"] == 2 )? "remove-engineer" : "")" width="30" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--
    Pending projects
-->
@helper Pending(string userPhoto, string customerName, int userType, string postingTime, string projectName,
                   string projectDescription, int projectId, int ownerId, int userIds) {
    <div class="project-cotnainer" id="@projectId" ownderId="@ownerId">
        <div class="project">
            <div class="owner-container">
                @Projects.OwnerInfo(userPhoto, customerName, postingTime)

                <div class="project-controls">
                    <button class="icon-btn icon-btn--approve approve-project-btn"></button>
                    <button class="icon-btn icon-btn--decline decline-project-btn"></button>
                </div>
            </div>

            @Projects.ProjectDetails(projectName, projectDescription)
        </div>
    </div>
}

<!-- 
    Project comment
-->
@helper Comment(int id, string userPhoto, string userName, string comment) {
    <div class="comment">
        <img src="@userPhoto" width="35" />

        <div class="details">
            <label class="name">@userName</label>
            <label class="comment-text">@comment</label>
        </div>

    </div>
}

<!--
    Owner Info
-->
@helper OwnerInfo(string userPhoto, string customerName, string postingTime) {
    <div class="owner-info">
        <img src="@userPhoto" width="40" />

        <div>
            <a class="name">@customerName</a>
            <label class="time">@postingTime</label>
        </div>
    </div>
}

@helper ProjectDetails(string projectName, string projectDescription) {
    <div class="details">
        <h4 class="name">@projectName</h4>
        <p class="description">@projectDescription</p>
    </div>
}