<!-- UN_ASSIGNED PROJECT COMPONENT -->
@helper Unassigned(string userPhoto, string customerName, int userType, string postingTime, string projectName, 
                   string projectDescription, int projectId, int ownerId, int userId, IEnumerable<Project_Apollo.Models.Comments> comments)
{
    <div class="project-cotnainer" id="@projectId" ownderId="@ownerId">
        <div class="project">
            <div class="owner-container">
                <div class="owner-info">
                    <img src="@userPhoto" width="40" />

                    <div>
                        <a class="name">@customerName</a>
                        <label class="time">@postingTime</label>
                    </div>
                </div>

                <div class="project-controls">
                    @{
                        if (userType == 2) {
                            <button class="apply-btn">Apply</button>
                        } else if ((userType == 0 || userType == 1) && @userId == @ownerId) {
                            <button class="edit-btn"></button>
                            <button class="delete-btn"></button>
                        }
                    }
                    
                </div>
            </div>
            

            <div class="details">
                <h4 class="name">@projectName</h4>
                <p class="description">@projectDescription</p>
            </div>
        </div>

        @if (comments.Count() != 0) {
            <div class="comments-container">
                @{  if (userType == 2) {
                        <div class="comment-input">
                            <img src="@userPhoto" width="35" />
                            <input placeholder="Write a comment..." />
                        </div>}
                }

                @foreach (var comment in comments) {
                    @Components.Comment(comment.projectManager.ID,Project_Apollo.Models.ImageConverter.convertPhotoToString(comment.projectManager.Photo), comment.projectManager.name, comment.comment)
}
            </div>   }
        
    </div>
} 

<!- ASSIGNED PROJECT COMPONENT---> 
@helper Assigned(string userPhoto, string customerName, string postingTime, string projectName,
                   string projectDescription, int projectId, string managerPhoto, string leaderPhoto, string[] engineersPhotos) {
    <div class="project-cotnainer" id="@projectId">
        <div class="project">
            <div class="owner-container">
                <div class="owner-info">
                    <img src="@userPhoto" width="40" />

                    <div>
                        <a class="name">@customerName</a>
                        <label class="time">@postingTime</label>
                    </div>
                </div>
            </div>


            <div class="details">
                <h4 class="name">@projectName</h4>
                <p class="description">@projectDescription</p>
            </div>
        </div>
    </div>
} 