<!--
    User row
-->
@helper UserRow(int userId, string userPhoto, string userName, int userRole, string userEmail) {
    <div class="user-row card" id="@userId">
        <div class="row-container">
            <img src="@userPhoto"  width="45" />
            <div class="about-user">
                <label>@userName</label>
                <span> - @Enum.GetName(typeof(Project_Apollo.Models.userRole), userRole)</span>
                <br />
                <label style="margin-bottom: 0px;">@userEmail</label>
            </div>

            <div class="user-controls">
                <button class="icon-btn icon-btn--delete delete-user-btn"></button>
            </div>
        </div>
    </div>
}

<!--
    Invitation row    
-->
@helper InvitionRow(int userId, string userPhoto, string userName) { 
    <div class="invitation-row card" id="@userId">
        <img src="@userPhoto" width="35" />
        <label>@userName</label>
        
        <div class="controls">
            <button class="btn-primary">Invite</button>
        </div>
    </div>
}