<!--
    User row
-->
@helper UserRow(int userId, string userPhoto, string userName, String userRole, string userEmail) {
    <div class="user-row card" id="@userId">
        <div class="row-container">
            <img src="@userPhoto"  width="45" />
            <div class="about-user">
                <label>@userName</label>
                <span> - @userRole</span>
                <br />
                <label>@userEmail</label>
            </div>

            <div class="user-controls">
                <button class="delete-btn"></button>
            </div>
        </div>
    </div>
}